html,
body,
h1,
h2,
h3,
p,
div,
li,
ul {
  margin: 0px;
  padding: 0px;
  font-family: Arial;
  color: white;
  letter-spacing: 2px;
}
#particles-js {
  height: 100%;
  background: #1c2430;
  display: flex;
  align-items: center;
  justify-items: center;
}

/* @keyframes example {
  from {
    background: url(images/bakground.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  to {
    background: url(images/background2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
} */
.particles-js-canvas-el {
  position: absolute;
}
html,
body {
  height: 100%;
}
a {
  color: red;
}
.hyperlink {
  color: red;
}
html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  width: 100%;
  height: 10%;
  text-align: center;
}

header h1 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

nav {
  width: 15%;
  height: 80%;
  float: left;
}

nav ul {
  list-style: none;
}

nav li {
  font-size: 16pt;
  display: block;
  margin-left: 10px;
  padding: 5px;
  margin-top: 15px;
  width: 80%;
  text-align: center;
}
.pInfo {
  color: #000;
}
nav a:link,
a:visited {
  background-color: #000;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 80%;
  transition: box-shadow 0.3s;
}

nav a:hover,
a:active {
  background-color: #21212c;
  box-shadow: 0 0 11px #fffa69;
}

p {
  line-height: 30px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5%;
}

.content {
  padding-top: 10px;
  padding-left: 5%;
  width: 80%;
  height: 80%;
  float: left;
}

footer {
  width: 100%;
  background: red;
  height: 10%;
}

/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  font-family: Arial;
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #21212c;
  box-shadow: 0 0 11px #fffa69;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  padding: 20px;
  width: 60%;
}

.mySlides {
  height: 700px;
  box-shadow: 0 0 11px #fffa69;
}

.leftButton {
  position: absolute;
  float: left;
  font-size: 20pt;
  cursor: pointer;
}

.rightButton {
  font-size: 20pt;
  clear: both;
  float: right;
  cursor: pointer;
}

.photoGallery {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio {
  width: 80%;
  clear: both;
  margin-top: 15px;
  background-image: url("images/background.jpg");
  background-attachment: fixed;
  height: auto;
  box-shadow: 0 0 5px lightblue;
}

.pImage {
  padding: 10px;
  margin-top: 10px;
  width: 150px;
  float: left;
}

.pInfo {
  clear: both;
  position: relative;
  top: 40%;
  transform: translateY(-40%);
}

.videos {
  margin-top: 15px;
  margin-left: 5%;
  box-shadow: 0 0 5px pink;
  width: 560px;
  float: left;
}

.hobbies {
  width: 100%;
}

.photographer {
  position: fixed;
  bottom: -10px;
  left: 0px;
}

input[type="button"].spring {
  background: #ffd6c9;
  border: 2px solid #e21818;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}
input[type="button"].spring:hover {
  animation: none;
}

@keyframes spring {
  0% {
    transform: scale(1) translateY(0);
  }
  10% {
    transform: scale(1.2, 0.6);
  }
  30% {
    transform: scale(0.8, 1.1) translateY(-30px);
  }
  50% {
    transform: scale(1) translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.spring {
  margin: 0 200px;
  animation: spring 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

body {
  background: #222;
}
.box {
  margin: 0 auto;
  width: 500px;
  height: 300px;
  position: relative;
  box-shadow: inset 0 0 3px #000;
  border-radius: 5px;
  border: 1px solid #111;
  overflow: hidden;
}
b {
  display: block;
  width: 50px;
  height: 50px;
  opacity: 0.8;
  border-radius: 50%;
  background-color: #262945;
  box-shadow: inset -5px -5px 5px rgba(0, 0, 0, 0.6),
    15px 15px 2px rgba(0, 0, 0, 0.04);
  position: absolute;
  -webkit-animation: moveX 3.05s linear 0s infinite alternate,
    moveY 3.4s linear 0s infinite alternate;
  -moz-animation: moveX 3.05s linear 0s infinite alternate,
    moveY 3.4s linear 0s infinite alternate;
  -o-animation: moveX 3.05s linear 0s infinite alternate,
    moveY 3.4s linear 0s infinite alternate;
  animation: moveX 3.05s linear 0s infinite alternate,
    moveY 3.4s linear 0s infinite alternate;
}

@-webkit-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 95%;
  }
}
@-moz-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 95%;
  }
}
@-o-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 95%;
  }
}
@keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 95%;
  }
}
@-webkit-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 95%;
  }
}
@-moz-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 95%;
  }
}
@-o-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 95%;
  }
}
@keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 95%;
  }
}
